Source: hashstack-agent-plugin-hashcat-cli
Maintainer: Jeremi Gosney <jgosney@stricture-group.com> 
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: p7zip-full, make 

Package: hashstack-agent-plugin-hashcat-cli
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, hashstack-agent
Description: hashcat-cli agent plugin for Hashstack
 hashcat-cli agent plugin for Hashstack
